  .album {
    margin-top: 15vh;
  }
  
  .card-table {
    width: 100%;
  }
  
  .card-img-top {
    object-fit: cover;
    height: 10vw;
    width: 10vw;
    margin-bottom: 5vh;
  }
  
  table {
    width: 100%;
    margin-bottom: 5vh;
  }
  
  #title-th, #title-td{
    font-size: 5rem;
  }

  th,
  td {
    padding: 1vh;
    font-size: 2.5vh;
    color: whitesmoke;
  }
  
  .video-link a {
    display: block;
    text-align: center;
    padding: 1vh;
    width: 20vw;
    border-radius: 1vh;
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    background-color: #E50914;
    text-decoration: none;
  }
  
  .previous {
    text-decoration: none;
    font-size: 5vh;
    margin-bottom: 1vh;
    color: whitesmoke;
    position: absolute;
    top: 15vh;
    left: 3vh;
    font-weight: 600;
  }
  
  #fav {
    text-align: center;
    font-size: 5vh;
    text-shadow: 0px 0px 0px gold;
    color: #E50914;
    font-family: 'Amazon Ember,Amazon Arabic Ember,Arial,sans-serif!important';
  }
  
  #title th,
  #title td {
    font-size: 2.5vh;
  }
  
  html,
  body {
    height: 100%;
  }
  
  .album {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container {
    flex-grow: 1;
  }
  
  .footer {
    background-color: #f2f2f2;
    padding: 2vh;
    width: 100%;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .contact-info,
  .social-icons {
    flex-basis: 50%;
  }
  
  .contact-info h3,
  .social-icons h3 {
    margin-top: 0;
  }
  
  .contact-info p,
  .social-icons ul {
    margin-bottom: 1vh;
  }
  
  .social-icons ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .social-icons li {
    margin-right: 1vh;
  }
  
  .copy {
    text-align: center;
    margin-top: 2vh;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .footer {
      width: 100%;
    }
    .footer-content {
      flex-direction: column;
    }
  
    .contact-info,
    .social-icons {
      flex-basis: 100%;
    }
  
    .social-icons h3 {
      margin-top: 2vh;
    }
  
    .copy {
      font-size: 2vh;
    }
  }
  
  