.footer {
  background-color: #f2f2f2;
  padding: 20px;
  width: 100vw;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-info,
.social-icons {
  flex-basis: 50%;
}

.contact-info h3,
.social-icons h3 {
  margin-top: 0;
}

.contact-info p,
.social-icons ul {
  margin-bottom: 10px;
}

.social-icons ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-icons li {
  margin-right: 10px;
}

.copy {
  text-align: center;
  margin-top: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .footer{
    width: 100%;
  }
  .footer-content {
    flex-direction: column;
  }

  .contact-info,
  .social-icons {
    flex-basis: 100%;
  }

  .social-icons h3 {
    margin-top: 20px;
  }

  .copy {
    font-size: 14px;
  }
}