<div *ngIf="show">
    <div class="container">
        <h2>Enter Your Email</h2>
        <input type="text" placeholder="abc@gmail.com" name="email" id="email" [(ngModel)]="email"><br>
        <button type="submit" (click)="getOtp()">Get OTP</button>
    </div>
</div>

<div *ngIf="showOtp">
    <div class="container">
        <h2>Enter the OTP</h2>
        <input type="number" name="otp" id="otp" [(ngModel)]="otp"><br>
        <a (click)="resend()">Resend Otp</a><br>
        <button type="submit" (click)="submit()">Submit</button>
    </div>
</div>

<div *ngIf="resetPassword">
    <div class="cont">
        <h2>Reset Password</h2>
    
        <form [formGroup]="resetData" (ngSubmit)="reset()">
            <div>
                <label for="password">New Password:</label><br>
                <input type="password" id="password" formControlName="password"
                    [class.is-invalid]="resetData.get('password')?.invalid && (resetData.get('password')?.dirty || resetData.get('password')?.touched)">
                    <div
                    *ngIf="resetData.get('password')?.invalid && (resetData.get('password')?.dirty || resetData.get('password')?.touched)">
                    <div *ngIf="resetData.get('password')?.errors?.['required']">
                        <p>Password is required</p>
                    </div>
                    <div *ngIf="resetData.get('password')?.errors?.['pattern']">
                        <p>Password must match the required pattern <br>i.e Capital letters, small letters, Numbers and Special characters</p>
                    </div>
                </div>
            </div>
    
            <div>
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" formControlName="confirmPassword"
                    [class.is-invalid]="resetData.get('confirmPassword')?.invalid && resetData.get('confirmPassword')?.touched">
                <div
                    *ngIf="resetData.get('confirmPassword')?.invalid && (resetData.get('confirmPassword')?.dirty || resetData.get('confirmPassword')?.touched)">
                    <div *ngIf="resetData.get('confirmPassword')?.errors?.['mustMatchValidator']">
                        <p>Confirm Password must match the Password</p>
                    </div>
                </div>
            </div><br>
    
            <div>
                <button class="button" type="submit" [disabled]="resetData.invalid">Reset Password</button>
            </div>
        </form>
    </div>
</div>