.container{
    text-align: center;
    padding: 20px;
    color: whitesmoke;
    background-color: black;
    border: 1px solid white;
}
input{
    width: 250px;
    padding: 3px;
}
button{
    margin-top: 10px;
    padding: 3px 8px;
    font-size: 15px;
    border-radius: 10px;
}
h1{
    font-weight: 600;
}
.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    background-color: black;
    padding: 20px;
    border: 1px solid white;
}

.warning-snackbar {
    background-color: #ff9800; /* Warning color code */
    color: #ffffff; /* Text color */
  }

input {
    width: 250px;
    margin: auto;
    padding: 5px;
}

i {
    color: black;
    margin-left: -20px;
    cursor: pointer;
}
.button{
    padding: 5px 8px;
    border-radius: 5px 10px;
    font-size: 15px;
}
p {
    margin-top: 50px;
    color: red;
    font-size: 14px;
    margin: 0;
  }
  