.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    background-color: black;
    padding: 20px;
}

input {
    width: 250px;
    margin: auto;
    padding: 5px;
}

i {
    color: black;
    margin-left: -20px;
    cursor: pointer;
}
.button{
    padding: 5px 8px;
    border-radius: 5px 10px;
    font-size: 15px;
}
.cont p {
    margin-top: 50px;
    color: red;
    font-size: 14px;
    margin: 0;
  }
  