<app-header></app-header>
<div class="container-fluid">
    <a routerLink="#" onclick="history.back()" class="previous round">&#8249;</a>
<div class="about-section">
    <h1>Movie Mash is an online video streaming platform </h1>
    <h2>A Video Experience Like No Other</h2>
     <p>Seamless Video Playback - Our adaptive video streaming technology ensures that the best possible video quality is played back automatically based on the available bandwidth, therefore making it a great video experience on both mobile networks as well as WiFi internet connections. Our video is optimized to play on mobile networks with inconsistent throughput so that our users don't have to compromise on their experience on the low end, and play HD quality video on the top end of bandwidth availability. Additionally, our users can manually select the quality of video that suits their taste.</p> 
        
    <p>Smart Search - Content search on Disney+ Hotstar has been optimized to reduce complexity and delay in accessing content. Accurate search results, with lightning fast autocomplete suggestions navigate users to video with minimal navigation friction and ease of use.</p>
        
    <p>Friendly User Interface - Content organization on Disney+ Hotstar is a result of a thoughtful user experience approach and strong design principles that ensure that the user is not overwhelmed with the breadth of content available. Using a mix of algorithms and human curation, users at any stage of their interaction with Disney+ Hotstar will discover content and see their experience evolve with their interaction patterns over time.</p>
</div>

<h1>Our Team</h1>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="../../assets/WhatsApp Image 2023-06-07 at 11.00.05.jpeg" alt="Jane" style="width:50%">
            <div class="container">
                <h2>Harsh Tyagi</h2>

                <p>Full Stack Java Developer</p>
                <p class="email">harshtyagi9898@gmail.com</p>
                <p><button class="button" (click)="navigateToGmail('harshtyagi9898@gmail.com')">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="../../assets/Mee.jpeg" alt="Mike" style="width:50%">
            <div class="container">
                <h2>Mimansa Saha</h2>

                <p>Full Stack Java Developer</p>
                <p class="email">mimansakumari143@gmail.com</p>
                <p><button class="button" (click)="navigateToGmail('mimansakumari143@gmail.com')">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="../../assets/Nirmal.jpeg" alt="John" style="width:50%">
            <div class="container">
                <h2>Nirmal Kumar</h2>

                <p>Full Stack Java Developer</p>
                <p class="email">nirmalkumar961998@gmail.com</p>
                <p><button class="button" (click)="navigateToGmail('nirmalkumar961998@gmail.com')">Contact</button></p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
</div>